@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(77, 69, 122);
	font-family: "Sarabun", sans-serif;
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

h3 {
	color: white;
	margin: 10px 0 20px;
	text-align: center;
}

.container {
	width: 500px;
}

#textarea {
	border: none;
	display: block;
	width: 100%;
	height: 100px;
	font-family: inherit;
	padding: 10px;
	margin: 0 0 20px;
	font-size: 16px;
}

.tag {
	background-color: rgb(107, 134, 33);
	color: white;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
	font-size: 14px;
	display: inline-block;
}

.tag.highlight {
	background-color: rgb(34, 30, 58);
}
